.footer {
    padding: 0 3.062rem;
    font-family: 'CircularXXWeb-Book';
    .line {
        background-color: $grayPrimary;
        margin: 4.562rem 0;
    }
    .email-container {
        @include flex(center, space-between, row);
        width: 87%;
        .join-glu {
            font-size: 1.562rem;
            transition: all 0.5s;
            @include makeFontSmoth(0.2rem, $black);
            font-weight: 500;
            font-family: 'CircularXXWeb-Book';
        }
        .email {
            width: 47%;
            border: none;
            margin: 0 0.5rem;
            height: 2.5rem;
            font-size: 1.562rem;
            @include makeFontSmoth(0.2rem, #8b8b8b);
            border-bottom: 1px solid $grayPrimary;
            &::placeholder {
                font-size: 1.562rem;
                transition: all 0.5s;
                @include makeFontSmoth(0.2rem, #8b8b8b);
            }
            &:focus {
                outline-color: transparent;
            }
        }
        .subscribe {
            font-size: 1.562rem;
            transition: all 0.5s;
            @include makeFontSmoth(0.2rem, $black);
            font-weight: 500;
            text-transform: capitalize;
            font-family: 'CircularXXWeb-Book';
            cursor: pointer;
            &:hover {
                color: $primary;
            }
        }
    }
    .address-padding {
        // padding-left: 8rem;
    }
    .address-container {
        .title {
            font-size: 1.562rem;
            line-height: 1.762rem;
            transition: all 0.5s;
            @include makeFontSmoth(0.2rem, $black);
            font-family: 'CircularXXWeb-Book';
            font-weight: 500;
        }
        .links {
            display: block;
            @include makeFontSmoth(0.137rem, $black);
            font-size: 1.562rem;
            transition: all 0.5s;
            font-weight: 500;
        }
    }
    .breaker {
        margin-bottom: 4rem;
    }
    .build-by {
        font-size: 1rem;
        transition: all 0.5s;
        font-weight: 500;
        @include makeFontSmoth(0.137rem, $black);
        margin-bottom: 1rem;
        font-family: 'CircularXXMonoWeb-Regular';
        span {
            a {
                font-weight: 300;
                color: #8b8b8b;
            }
        }
    }
    .glu {
        font-size: 1rem;
        transition: all 0.5s;
        font-weight: 500;
        font-family: 'CircularXXMonoWeb-Regular';
        text-align: right;
        margin-bottom: 1rem;
        @include makeFontSmoth(0.137rem, $black);
    }
    .three__piller__container {
        position: absolute;
        right: 1.5rem;
        img {
            width: 1.562rem;
            // filter: blur(0.068rem);
        }
    }
}

//responsive
@media screen and (max-width: 768px) {
    .footer {
        .line {
            margin: 0;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.15);
        }
        .email-container {
            margin-top: 4rem;
            margin-bottom: 2rem;
            .email {
                width: 42%;
                margin: 0 0.5rem;
                margin-top: 1rem;
            }
        }
        .address-padding {
            padding-left: 0;
        }
    }
}
