.tutor_availablity_container{
   .tutor_availablity_subcontainer{
       padding: 0 4.0625rem;
       &_banner{
           padding-top: 3.75rem ;
           padding-bottom: 7.5rem;
       }
       &_weekly{
            padding-top: 3.125rem;
       }
   }
}
// .dividerlline{
//     border-color: rgba(0, 0, 0, 0.25);
//     border-width: 1px;
//     border-style: solid;

// }