.personal_school{
    background-color: $bodyColor;
    font-family: 'CircularXXWeb-Book';
    &_dashboard_title{
        font-size: 2.625rem !important;
        padding:3.125rem 2rem;
        font-family: inherit;
        .school-color {
            color: #8b8b8b;
        }
    }
    &_container{
        padding: 0 3.125rem;
    }
    &_container_2{
        padding: 0 3.125rem;
        padding-top: 10rem;
        background-color: $white;
        &_col6{
            
            @include flex(center, space-between, row);
            .subtext {
                font-size: 2.625rem;
            }
            
        }
        &_col7{
          
            .main_subcontainer{
                padding: 0 1.8rem;
                .text{
                    font-size: 2.625rem;
                    line-height: 2.8125rem;
                }
                .subtext_container{
                    padding: 1.3125rem 0;
                    .subtext{
                        font-size: 1.5625rem;
                        line-height: 1.875rem;
                        
                    }
                }
                
            }
            .progress{
                height: 0.3rem;
                border-radius: 0.4rem;
                background-color: #CFCFCF;
                width: 75%;
                margin-bottom: 3.3125rem;
                position: relative;
                .bar{
                    height: 0.3rem;
                    
                    background-color: #2267FF;
                }
            }
            .line{
                height: 1px;
                border-radius: 0.4rem;
                background-color: #CFCFCF;
                width: 100%;
                margin-bottom: 2.0625rem;
                position: relative;
            }
            }
    }
    &_background{
        margin-top: 9.8rem;
    }
    .personal_footer{
        padding-top: 10rem;
        background-color: $white;
    }
}
@media screen and (min-width: 768px) {
    .personal_school_container{
        &_col1{
            .card_row2 {
                padding-top: 3.125rem;
            }
        }
        .set__margin{
            margin-top: 3.125rem;
        }
        &_col2,&_col5 {
            margin-left: 3.125rem;
            //.card_row2{
            //     padding-top: 3.125rem;
            //}
        }
    }
    .personal_school_container_2{
        &_col7{
        margin-left: 3.125rem;
        border-left-width: 1px;
        border-left-color: #CFCFCF;
        border-style: solid;
        .main_subcontainer{
            padding: 0 3.125rem;
        }
        }
    }
}
@media screen and(max-width:768px){
    .personal_school_container{
        &_col5{
            .card_row5{
                margin-top: 3.125rem;
            }
        }
    }
}