.homepage__wrapper {
    .total__upcomming__classes {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .class_container{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .menu__type2__container {
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: transparent;
        color: white;
        .navigation {
            background-color: transparent;
            ul {
                li {
                    a {
                        button {
                            color: white;
                        }
                    }
                }
            }
            .heading {
                font-family: 'CircularXXWeb-Book';
                font-size: 3rem;
                margin-right: 1rem;
                color: white;
            }
            .icon-button {
                .icon {
                    color: white;
                    font-size: 2.5rem;
                }
            }
            p {
                color: #fff;
            }
        }
    }
    .parent__upcoming__classes__container {
        background-color: #f7f7f7;
        height: 55.625rem;
        .parent__upcoming__classes {
            height: 36.875rem;
            width: 100%;
            .upcoming__class {
                padding-top: 9.375rem;
                .image-thumbnail-container {
                    .image-thumbnail {
                        padding-top: 65%;
                        height: 36.875rem;
                    }
                    .img {
                        width: 80%;
                    }
                }
            }
        }
    }
    .first__row{
        display: flex;
        align-items: center;
        .dot{
            margin-right: 0.625rem;
        }
    }
    .live__classes, .recorded__class{
        padding-top: 0px;
        margin-top: 0px;
        padding-top: 9.25rem;
        padding-bottom: 9.062rem;
    }
    .tutors {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-top: 6.125rem;
        padding-bottom: 9.062rem;
    }
    .made__by__footer{
        padding-left: 50px;
        padding-right: 50px;
        .build-by {
            font-size: 1rem;
            transition: all 0.5s;
            font-weight: 500;
            // @include makeFontSmoth(0.137rem, black);
            text-shadow: 0 0 0.029rem black;
            color: transparent;
            text-rendering: geometricPrecision;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-bottom: 1rem;
            font-family: 'CircularXXMonoWeb-Regular';
            span {
                a {
                    font-weight: 300;
                    color: #8b8b8b;
                }
            }
        }
        .glu {
            font-size: 1rem;
            transition: all 0.5s;
            font-weight: 500;
            font-family: 'CircularXXMonoWeb-Regular';
            text-align: right;
            margin-bottom: 1rem;
            // @include makeFontSmoth(0.137rem, black);
            text-shadow: 0 0 0.029rem black;
            color: transparent;
            text-rendering: geometricPrecision;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-bottom: 1rem;
            font-family: 'CircularXXMonoWeb-Regular';
        }
    }

}
