.homepage__wrapper {
    .total__upcomming__classes {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .class_container{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .menu__type2__container {
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: transparent;
        color: white;
        .navigation {
            background-color: transparent;
            ul {
                li {
                    a {
                        button {
                            color: white;
                        }
                    }
                }
            }
            .heading {
                font-family: 'CircularXXWeb-Book';
                font-size: 3rem;
                margin-right: 1rem;
                color: white;
            }
            .icon-button {
                .icon {
                    color: white;
                    font-size: 2.5rem;
                }
            }
            p {
                color: #fff;
            }
        }
    }
    .parent__upcoming__classes__container {
        background-color: #f7f7f7;
        height: 55.625rem;
        .parent__upcoming__classes {
            height: 36.875rem;
            width: 100%;
            .upcoming__class {
                padding-top: 9.375rem;
                .image-thumbnail-container {
                    .image-thumbnail {
                        padding-top: 65%;
                        height: 36.875rem;
                    }
                    .img {
                        width: 80%;
                    }
                }
            }
        }
    }
    .next__class{
        padding-top: 6.125rem;
        padding-bottom: 6.187rem;
        padding-left: 3.062rem;
    }
    .first__row{
        display: flex;
        align-items: center;
        .dot{
            margin-right: 0.625rem;
        }
    }
    .live__classes, .recorded__class{
        padding-top: 0px;
        margin-top: 0px;
        padding-top: 9.25rem;
        padding-bottom: 9.062rem;
    }
    .tutors {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-top: 6.125rem;
        padding-bottom: 9.062rem;
    }

}
