.card-status.attandece-card {
    color: $white;
    background-color: $primary;
    border-radius: 0.3rem;
    .status-header {
        .status-icon {
            color: $white;
        }
        .status-heading {
            color: $white;
        }
    }
    .total-no {
        color: $white;
    }
}

.card-status {
    // @include flex(center, space-between, column);
    padding: 1rem;
    color: $headingPrimary;
    .status-header {
        @include flex(center, start, row);
        margin-bottom: 1rem;
        .status-icon {
            color: inherit;
            font-size: 2rem;
            margin-right: 0.4rem;
        }
        .status-heading {
            color: inherit;
            font-weight: 200;
            font-size: 0.9rem;
        }
        .right-icon-box {
            align-self: flex-end;
            border-radius: 0.5rem;
            width: 2rem;
            height: 2rem;
            background-color: #ff5252ad;
            margin-left: auto;
            @include flex(center, center, row);
            .icon {
                color: $white;
            }
        }
    }
    .total-no {
        font-size: 2rem;
        color: #7d7d7e;
        font-weight: 500;
        align-self: center;
        margin-bottom: 1rem;
    }
    .total-status {
        color: inherit;
        font-weight: 200;
        font-size: 0.9rem;
    }
}

// Revenue Chart Styles
.dashboard-session-card-wrapper {
    position: relative;
    height: 100%;
    @include borderRadius;
    @include cardShadow;
    .menu-options{
        position: absolute;
        top: 0.6rem;
        right: 0.3rem;
        .menu-list{
            width: 10rem;
            height: 10rem;
            box-shadow: 0 0 20px -1px  rgba(0,0,0,0.2);
            position: absolute;
            right: 0;
            top: 43px;
            background-color: #fff;
            border-radius: 0.4rem;
            z-index: 1;
            .arrow-up {
                position: absolute;
                top: -10px;
                margin-left: 46px;
                left: 50%;
                width: 0;
                height: 0;
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
            }
            ul{
                list-style: none;
                li{
                   button{
                       padding: 0.55rem;
                       width: 100%;
                       text-transform: capitalize;
                       @include flex(center, flex-start, row);
                       text-align: left;
                       font-size: 0.8rem;
                   }
                }
            }
        }
    }
    .heading {
        padding: 1rem;
        margin: 0;
        @include flex(center, space-between, row);
        &:last-child {
            margin-bottom: 1rem;
            border-bottom: none;
        }
        .head-text {
            font-size: 1.4rem;
            font-weight: 500;
        }
        .head-dots {
            cursor: pointer;
        }
    }
    .revenue-content {
        @include disableScroll;
        .revenue-week-stat {
            padding: 1rem;
            @include flex(center, space-around, row);
            .sub-text {
                font-size: 0.9rem;
                font-weight: 100;
                color: $textPrimary;
                margin-left: 1.6rem;
            }
            .revenue-count {
                font-size: 1.3rem;
                font-weight: 600;
                @include flex(center, flex-start, row);
                .bullet-icon {
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 1rem;
                    background-color: red;
                }
                .current {
                    color: $primary;
                }
                .previous {
                    color: $white;
                }
            }
        }
        .revenue-chart {
        }
    }
}
.upcomming-event-container {
    padding: 1rem;
    .event-header {
        @include flex(center, space-between, row);
        margin-bottom: 1rem;
        .heading {
            color: $textPrimary;
            font-weight: 500;
        }
        .icon {
            color: $primary;
        }
    }
    .event-body {
        .event-chip-card {
            border: 1px solid $textPrimary;
            border-radius: 0.3rem;
            margin-bottom: 1rem;
            padding: 1rem;
            @include flex(center, space-between, row);
            .circle {
                width: 3rem;
                height: 3rem;
                border-radius: 3rem;
                background-color: $primary;
                font-size: 1rem;
                color: $white;
                @include flex(center, center, row);
            }
            .middle {
                .heading {
                    color: $textPrimary;
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                .subheading {
                    color: $textPrimary;
                    font-size: 0.7rem;
                    font-weight: 400;
                }
            }
            .right {
                .icon {
                    color: $primary;
                    font-size: 1rem;
                }
            }
        }
    }
}

//chart tooltip style
.tooltip-7785 {
    box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.2);
    color: #000;
    font-family: 'Roboto';
    min-width: 5rem;
    text-align: center;
    border-radius: 0.3rem;
    z-index: 99999;
    background-color: #fff !important;
    display: block;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-size: '2.5em';
}
.highcharts-series-1 {
    stroke-dasharray: 5, 8;
    width: 1px;
    fill: #fff;
    stroke: #fff;
    background-color: #fff;
}
.highcharts-point{
    stroke-dasharray:none;
}

g.highcharts-axis-labels.highcharts-yaxis-labels text,
g.highcharts-axis-labels.highcharts-xaxis-labels text {
    fill: rgb(130, 140, 158) !important;
    font-size: 0.9rem !important;
    font-family: 'Roboto';
}

.arrow {
    position: absolute;
    bottom: -5px;
    margin-left: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

.my-histogram .highcharts-point {
    stroke-dasharray: 5, 8;
    width: 1px;
    background-color: red;
}

