.main_container {
    background-color: $bodyColor;
    &_dashboard {
        padding: 0 3.125rem;
        .main_container_dashboard_title {
            font-size: 2.625rem;
            padding: 0 !important;
        }
        .main_container_dashboard_col1 {
            margin-top: 3.125rem;

            .main_container_dashboard_card_subtitle {
                float: right;

                padding-right: 1.6875rem;
                font-size: 1.25rem;
                padding-top: 2.06rem;
            }
            .main_container_dashboard_card_title {
                padding-top: 1.9rem !important;
                font-size: 2.625rem;
                letter-spacing: 0rem;
            }
            .main_container_dashboard_card_image {
                padding-top: 4.95rem;
                padding-right: 7rem;
            }
            .main_container_dashboard_card_text {
                padding-top: 4.315rem;
                .main_container_dashboard_card_text1 {
                    font-size: 2.625rem !important;
                }
                .main_container_dashboard_card_text2 {
                    font-size: 2.625rem !important;
                }
            }
            .main_container_dashboard_card_subtext {
                font-size: 1.5625rem;
                padding-top: 0.5625rem;
                padding-bottom: 8.5rem;
            }
        }
        .main_container_dashboard_col2 {
            margin-top: 3.125rem;
            // padding-left: 3.125rem !important;
            .card_row2 {
                padding-top: 3.125rem;
            }
        }
        @media screen and (min-width: 768px) {
            .main_container_dashboard_col2 {
                padding-left: 3.125rem !important;
            }
        }
        // @media screen and (min-width: 768px) {
        //     .main_container_dashboard_col4 {
        //         padding-left: 3.125rem !important;
        //     }
        // }

        .main_container_dashboard_col3 {
            padding-top: 3.125rem !important;
            // .card_row3{
            //     padding-top:
            // }
            .card_row4 {
                padding-top: 3.125rem;
            }
        }
        .main_container_dashboard_col4{
            margin-top: 3.125rem;
            .main_container_dashboard_card_subtext {
                font-size: 1.5625rem;
                padding-top: 10.906rem;
                padding-bottom: 8.5rem;
                padding-left: 2.375rem;
            }
            .main_container_dashboard_card_title {
                max-height: 16.625rem;
                max-width:31.3rem;
                padding-top: 1.9rem !important;
                font-size: 5rem;
                padding-left: 2.46rem;
                letter-spacing: 0rem;
            }
            .main_container_dashboard_card_subtitle {
                float: right;
                padding-right: 1.6875rem;
                font-size: 1.25rem;
                padding-top: 2.06rem;
            }
        }
    }

    .menu__type2__container {
        .navigation {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .bg-white {
        background-color: $white;
    }
    .card__row {
        @include flex(center, space-between, row);
        .small__card {
            width: calc(50% - 1.562rem);
            flex-direction: column;
            background-color: $white;
            padding: 1.812rem;
            .heading {
                font-size: 2.625rem;
                line-height: 2.812rem;
                color: $black;
            }
            .first__title {
                margin-top: 5.593rem;
            }
            .title {
                font-size: 1.562rem;
            }
        }
    }
    .main_container2{
        width: 100vw;
        margin-top: 9.375rem;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        min-height: 50.68rem;
        background-color:#76726E;
    }
}
