.main_container {
    padding: 0 3.125rem;
    background-color: $bodyColor;
    &_dashboard {
        .main_container_dashboard_title {
            font-size: 2.625rem;
        }
    }
    .menu__type2__container {
        .navigation {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .bg-white {
        background-color: $white;
    }
    .card__row {
        @include flex(center, space-between, row);
        .small__card {
            width: calc(50% - 1.562rem);
            flex-direction: column;
            background-color: $white;
            padding: 1.812rem;
            .heading {
                font-size: 2.625rem;
                line-height: 2.812rem;
                color: $black;
            }
            .first__title {
                margin-top: 5.593rem;
            }
            .title {
                font-size: 1.562rem;
            }
        }
    }
}
