.homepage__wrapper .next__class__card {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top:  0rem; 
    margin-bottom:  0rem; 
    // padding-top: 6.125rem;
    // padding-bottom: 6.187rem;
    // padding-left: 3.062rem;
    
    .next__class__image {
        img{
            padding-bottom: 0rem;
            padding-bottom: 0rem;

        }
    }
}