.homepage__wrapper .next__class__card {
    padding: 0rem;
    margin-top: 2.5rem;
    margin-left: 50px;

    .title {
        font-size: 1.8rem;
        line-height: 2rem;
        font-family: 'CircularXXWeb-Book';
        color: #000000;
    }
    .subtitle {
        font-size: 0.8rem;
        color: #000000;
    }
    .next__class__image {
        margin-left: 117px;
    }
    .next__class__title {
        margin-left: 230px;
    }
}
