.details-wrapper{
    .attendace_container_row{
        padding: 0 3.125rem;;
    }
    .calender_title{
        font-size: 1.875rem;
        color: $black;
        padding-top: 1.875rem;
    }
    .calender_from{
        font-size: 1rem;
        margin-top: 2.187rem;
        span{
            color: $primary;
        }
    }
    .preset_row{
        .pd_right{
            padding-right: 7%;
            padding-left: 15%;

        }
        .pd_left{
            padding-left: 7%;
            padding-right: 15%;

        }
    }
}