.homepage__wrapper {
    .banner {
        background-image: url('../../Assets/img/smilegirl.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 100vh;
        width: 100%;
        .menu__type2__container {
            .navigation {
                ul {
                    li {
                        a {
                            button {
                                color: #fff;
                            }
                        }
                    }
                }
                p {
                    color: #fff;
                }
            }
        }
        .large__text {
            font-size: 3rem;
            font-family: 'CircularXXWeb-Book';
            color: $white;
            position: absolute;
            left: 5rem;
            bottom: 10rem;
        }
        .overy-heading {
            position: absolute;
            right: 10rem;
            bottom: 6rem;
            .small__heading {
                font-size: 0.8rem;
                color: $white;
                font-family: 'CircularXXWeb-Book';
            }
            .large__heading {
                font-size: 2.5rem;
                line-height: 2.5rem;
                color: $white;
                font-family: 'CircularXXWeb-Book';
            }
        }
    }
    .next__class__card {
        padding: 1rem;
        margin-top: 2.5rem;
        .title {
            font-size: 1.8rem;
            line-height: 2rem;
            font-family: 'CircularXXWeb-Book';
            color: #000000;
        }
        .subtitle {
            font-size: 0.8rem;
            color: #000000;
        }
        .blue-button {
            color: $primary;
            float: right;
            font-size: 100;
            text-transform: capitalize;
        }
        .image-thumbnail-container {
            .img {
                height: 70%;
            }
        }
    }
    .feature__container {
        padding: 1rem;
        .vrboy__container {
            .image-thumbnail {
                padding-top: 30%;
            }
        }
        .title {
            color: #000000;
            font-size: 1.5rem;
            font-family: 'CircularXXWeb-Book';
        }
    }
    .class_container {
        padding: 1rem;
        margin-bottom: 4rem;
    }
    .image__overlay {
        .img {
            width: 100%;
        }
        .img-overlay-container {
            .title {
                margin-bottom: 1rem;
                font-family: 'CircularXXSub-BookSubset';
            }
            .msg {
                font-size: 3rem;
            }
        }
    }
    .calender__container {
        padding: 1rem;
        margin-bottom: 3rem;
        .border-left{
            border-left: 1px solid $lightGray;
        }
    }
    .total__upcomming__classes {
        padding: 1rem;
        .dot {
            font-size: 0.5rem;
        }
    }
    .feature__container{
        margin-bottom: 3rem;
        .vrboy__container{
            .image-thumbnail-container {
                .image-thumbnail{
                    padding-top: 60%;
                }
               
            }  
        }
    }
    .tutors{
        padding: 1rem;
    }
}
