.homepage__wrapper {
    .banner {
        background-image: url('../../Assets/img/smilegirl.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 100vh;
        width: 100%;
        .menu__type2__container {
            .navigation {
                ul {
                    li {
                        a {
                            button {
                                color: #fff;
                            }
                        }
                    }
                }
                p {
                    color: #fff;
                }
            }
        }
        .large__text{
            font-size: 3rem;
            font-family: 'CircularXXWeb-Book';
            color: $white;
            position: absolute;
            left: 5rem;
            bottom: 10rem;
        }
        .overy-heading{
            position: absolute;
            right: 10rem;
            bottom: 6rem;
            .small__heading{
                font-size: 0.8rem;
                color: $white;
                font-family: 'CircularXXWeb-Book';
            }
            .large__heading{
                font-size: 2.5rem;
                line-height: 2.5rem;
                color: $white;
                font-family: 'CircularXXWeb-Book';
            }
        }
    }
}
