.wrapper {
    width: 100%;
    .banner {
        background: #757470;
        height: 67.5rem;

        position: relative;
        &__links {
            color: white;
            li {
                .link {
                    font-size: 1.25rem;
                    color: white;
                }
            }
        }
        &__image {
            width: 27.8%;
            position: absolute;
            top: 9.375rem;
            left: 68.875rem;
        }
        &__heading {
            position: absolute;

            top: 36.312rem;
            left: 3.062rem;
            color: $white;
            &__text {
                font-family: 'CircularXXWeb-Book';
                font-size: 7.5rem;
                line-height: 7.5rem;
            }
            .icontext__container {
                display: flex;
                align-items: center;
                .text {
                    margin-left: 1rem;
                    font-size: 1.25rem;
                    font-family: 'CircularXXSub-RegularSubset';
                }
            }
        }
        &__rating {
            position: absolute;
            display: flex;
            align-items: center;
            left: 3.062rem;
            top: 63.437rem;
            color: $white;
            &__text {
                font-size: 1.562rem;
                font-weight: 100;
            }
            &__icon {
                .icontext__container {
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;
                    .text {
                        padding: 0 1rem;
                        font-size: 1.562rem;
                    }
                }
            }
        }
    }
    .section {
        display: grid;

        padding-left: 3.062rem;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 5.625rem;
        .availbility {
            grid-column: 1/2;
            font-size: 1.562rem;
            font-family: 'CircularXXSub-RegularSubset';
        }
        .description {
            grid-column: 3/5;
            &__text {
                font-size: 2.625rem;
            }
        }
        .availability__date {
            padding-right: 2rem;
            grid-column: 3/4;
            &__subject__title {
                font-size: 1.562rem;
                margin-top: 3.937rem;
            }
            .start_time {
                width: 50%;
                float: left;
                padding-right: 1rem;
            }
            .end_time {
                width: 50%;
                float: right;
                padding-left: 1rem;
            }
            &__date__title {
                margin-top: 2.375rem;
                font-size: 1.562rem;
            }
            &__time__title {
                margin-top: 2.375rem;
                font-size: 1.562rem;
                width: 100%;
            }
        }
    }
}
