.admin-page-container {
    .admin-page {
        padding: 3.75rem;
        .information__name__container{
            .title{
                font-size: 1.562rem;
                line-height: 1.875rem;
                font-family: inherit;
                color: $black;
                cursor: pointer;
            }
            .active{
                color: $titleGray;
            }
        }
        .social-media-container {
            .social-link-container {
                @include flex(center, flex-start, row);
                margin-bottom: 1.5rem;
                .left-part {
                    width: 3rem;
                    height: 3rem;
                    background-color: #DCE1E3;
                    @include flex(center, center, row);
                    .icon {
                        color: #007AFF;
                        font-size: 2rem;
                    }
                }
                .right-part{
                    width: calc(100% - 3rem);
                    .MuiInputLabel-animated{
                        padding-left: 1rem;
                        font-size: 0.9rem;
                    }
                    input{
                        padding-left: 1rem;
                    }
                }
            }
        }
        .button-container{
            @include flex(center, center, row);
            margin-top: 2rem;
            
        }
        .school-information-container{
            .biograpghy__container{
                width: 100%;
                margin-bottom: 2rem;
                .title{
                    font-size: 1.562rem;
                    line-height: 1.875rem;
                    color: $black;
                    font-family: inherit;
                    margin-bottom: 0.5rem;
                }
                .textbox{
                    width: 100%;
                    &:focus{
                        outline-color: $primary;
                    }
                }
            }
        }
        .controller__bottom{
            .help-support{
                font-size: 1rem;
                color: $black;
                font-family: 'CircularXXMonoWeb-Regular';
            }
            .arrow__container{
                @include flex(center, space-between,row);
                float: right;
                cursor: pointer;
                max-width: 4.5rem;
                .text{
                    font-size: 1rem;
                    color: $black;
                    font-family: 'CircularXXMonoWeb-Regular';
                }
            }
        }
    }
}
