.tutor_indivisual_curricular2_container2{
    padding: 0 3.125rem;
    margin-top: 3.656rem;
}
.tutor_indivisual_curricular2_container3{
    padding: 0 3.125rem;
    .horizontalline_new{
        margin-top: 6.25rem;
    }
}
.tutor_individual_curricular2_container5{
    padding: 0 3.125rem;
}
.tutor_individual_curricular2_container4{
    padding-left:3.125rem;
    padding-right: 3.125rem;
    padding-top: 3.125rem;
}
.tutor_indivisual_curricular2_container1{
    padding: 0 3.125rem;
    margin-top: 5.625rem;
}
.reusable_activity_banner{
    font-family: 'CircularXXWeb-Book';
    .activity_banner{
        display: grid;
        background-color: #F7F7F7;
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sec1 sec2"
        "sec3 sec4";
        // grid-column-gap: 3.125rem;
        grid-row-gap: 5.43rem;
        padding-left:3.125rem;
        padding-right: 3.125rem;
        padding-top: 5rem;
        padding-bottom: 9.0625rem;
        
    }
    .edit_delete_container{
        display: flex;
        padding-top: 3.125rem;
        justify-content: flex-start;
    }
    .sec1{
        grid-area: sec1;
    }
    .sec2{
        grid-area: sec2;
    }
    .sec3{
        grid-area: sec3;
    }
    .sec4{
        grid-area: sec4;
    }
    .activity_text{
        font-family:inherit;
        font-size: 2.625rem;
        line-height: 2.8125rem;

    }
    .activity_smalltext{
        font-family: inherit;
        font-size: 1.25rem;
        line-height: 1.825rem;
    }
    .activity_bigtext{
        font-family:inherit;
        font-size: 5rem;
        line-height: 5rem;
    }
}
@media only screen and(min-width:768px){
    .reusable_activity_banner{
        .activity_banner{
            // display: grid;
            // grid-template-rows: 1fr 1fr;
            // grid-template-columns: 1fr 1fr;
            // grid-template-areas: "sec2 sec14"
            // "sec1 sec3";
            // .sec2{
            //     padding-left: 3.125rem;
            // }
            .sec2,.sec4{
                padding-left: 3.125rem;
            }
      
    }
}
.tutor_indivisual_curricular2_container2{
    .extra_curricular_tagContainer{
        padding-left: 3.125rem;
    }
}


}
@media only screen and(max-width:768px){
    .reusable_activity_banner{
        .activity_banner{
            // display: grid;
            // grid-template-rows: 1fr 1fr;
            // grid-template-columns: 1fr 1fr;
            // grid-template-areas: "sec2 sec14"
            // "sec1 sec3";
            // .sec2{
            //     padding-left: 3.125rem;
            // }
            // .sec2,.sec4{
            //     padding-left: 3.125rem;
            // }
            grid-template-columns: 1fr;
            grid-row-gap: 0.43rem;
            padding-top: 3.125rem;
            grid-template-rows: 0fr 0fr 0fr 0fr;
                grid-template-areas: "sec1"
                "sec4"
                "sec2"
                "sec3";
                .sec1{
                    padding-bottom: 5rem;
                }
                .sec4,.sec2{
                    padding-bottom: 3.125rem;
                }
    }
}
}