.home-wrapper {
    .holding-container {
        height: 100vh;
        display: flex;
        margin-bottom: 9.375rem;
        .rotating-box {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                url('../../Assets/img/girlScatter.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            animation: rotate 1s;
            @include flex(center, center, row);
            .slogan {
                font-weight: 900;
                font-size: 10rem;
                font-family: 'CircularXXWeb-Book';
                opacity: 0;
                color: $white;
                text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.8s;
                transform: translateY(-1rem);
                animation: fadein 0.8s;
            }
            @keyframes fadein {
                0% {
                    opacity: 0;
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-1rem);

                    opacity: 1;
                }
            }
            .launching-soon-container {
                position: absolute;
                bottom: 11.125rem;
                left: 3.062rem;
                transform: translateY(-1rem);
                margin-top: 1rem;
                transition: all 0.3s;
                animation: slideUp 0.3s;
                font-family: 'CircularXXWeb-Book';
                .title {
                    color: $white;
                    font-size: 1.562rem;
                    margin-bottom: 1rem;
                    font-family: 'CircularXXWeb-Book';
                }
                .for {
                    font-size: 5rem;
                    font-weight: 500;
                    color: $white;
                    line-height: 5rem;
                    font-family: inherit;
                }
            }
            .bottom-right-container {
                position: absolute;
                bottom: 1.937rem;
                right: 3.062rem;
                @include flex(center, center, row);
                transform: translateY(-1rem);
                margin-top: -1rem;
                transition: all 0.3s;
                animation: slideUp 0.3s;
                .title {
                    color: $white;
                    font-size: 0.9rem;
                    font-weight: 100;
                    font-family: 'CircularXXMonoWeb-Regular';
                }
                .apple-icon {
                    margin: 0 0.5rem;
                    font-size: 1rem;
                    color: $white;
                }
                .google-icon {
                    width: 0.7rem;
                }
            }
            .scroll__container {
                @include flex(center, space-between, row);
                position: absolute;
                cursor: pointer;
                padding: 1.125rem 3.062rem;
                top: 0;
                left: 0;
                width: 13rem;
                transform: translateY(1rem);
                margin-top: -1rem;
                transition: all 0.3s;
                animation: slideDown 0.3s;
                .text {
                    font-size: 1.937rem;
                    color: $white;
                }
                .icon {
                    font-size: 1.537rem;
                    color: $white;
                }
            }
        }
        @keyframes rotate {
            0% {
                clip-path: polygon(30% 10%, 70% 30%, 62% 90%, 21% 70%);
            }
            100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        .hide {
            opacity: 0;
        }
    }
    .section-one {
        padding: 0 3.062rem;
        .img-container {
            margin-right: 4rem;
            .spect-boy {
                width: 100%;
                object-fit: cover;
            }
        }
        .section-one-right-part {
            padding-left: 2rem;
            .title {
                font-size: 2.625rem;
                line-height: 2.625rem;
                margin-bottom: 10rem;
                color: #000;
                font-family: 'CircularXXWeb-Book';
            }
            .sppon-girl {
                margin-top: 7rem;
                width: 100%;
            }
        }
        .workable-solution {
            margin-top: 10rem;
            font-size: 5rem;
            line-height: 5rem;
            margin-bottom: 9.937rem;
            color: #000;
            font-family: 'CircularXXWeb-Book';
        }
    }
    .section-two {
        position: relative;
        margin-bottom: 8.75rem;
        display: flex;
        .opacity-bg {
            width: 100%;
            align-self: stretch;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .ear-ring-girl {
            width: 100%;
        }
        .img-overlay-container {
            position: absolute;
            bottom: 11.187rem;
            right: 7.25rem;
            .title {
                color: $white;
                font-size: 1.562rem;
                font-family: 'CircularXXWeb-Book';
            }
            .msg {
                font-size: 5rem;
                color: $white;
                font-family: 'CircularXXWeb-Book';
                line-height: 5rem;
            }
        }
    }
    .section-three {
        margin-bottom: 8.75rem;
        .left-part {
            @include flex(center, center, row);
            .mobile {
                width: 20rem;
                height: 40rem;
                border-radius: 2.3rem;
                border: 0.5rem solid #000;
            }
        }
        .right-part {
            @include flex(center, center, column);
            .title {
                font-size: 2.725rem;
                line-height: 2.725rem;
                color: #000;
                font-family: 'CircularXXWeb-Book';
                margin-right: 11.687rem;
            }
        }
    }
    .section-four {
        padding: 0 3.062rem;
        margin-bottom: 6rem;
        .short-hair-girl-container {
            margin-right: 8rem;
            .short-hair-girl {
                width: 100%;
            }
        }
        .section-four-right-part-container {
            .title {
                font-weight: 500;
                font-size: 2.625rem;
                line-height: 2.625rem;
                margin-bottom: 20.437rem;
                color: #000;
                font-family: 'CircularXXWeb-Book';
            }
            .real-time-intraction {
                margin-top: -19.537rem;
                margin-bottom: 2.687rem;
                font-size: 1.562rem;
                font-family: 'CircularXXWeb-Book';
            }
            .board-icon {
                width: 2.687rem;
                margin-bottom: 10.875rem;
            }
            .lappy-girl {
                width: 100%;
            }
        }
    }
    .section-five {
        padding: 2rem 3.062rem;
        .learn-title {
            margin-top: 2rem;
            font-size: 2.625rem;
            line-height: 2.625rem;
            color: #000;
            font-family: 'CircularXXWeb-Book';
            margin-bottom: 2.437rem;
        }
        .subject {
            width: 1.5rem;
        }
        .subject-list-container {
            margin-top: 2rem;
            ul {
                list-style: none;
                li {
                    font-weight: 500;
                    font-size: 5rem;
                    line-height: 5rem;
                    font-family: 'CircularXXWeb-Book';
                    color: #000;
                }
            }
        }
    }
    .section-six {
        padding: 0 3.062rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        .title {
            font-size: 1.562rem;
            font-family: 'CircularXXWeb-Book';
            color: #000;
        }
        .msg {
            font-size: 2.625rem;
            font-family: 'CircularXXWeb-Book';
            color: #000;
        }
        .email-address {
            font-size: 1.562rem;
            font-family: 'CircularXXWeb-Book';
            color: #000;
        }
        .email-container {
            @include flex(center, space-between, row);
            .email {
                border: none;
                width: 80%;
                font-size: 2.625rem;
                color: #5f5f5f;
                font-weight: 500;
                font-family: 'CircularXXWeb-Book';
                height: 4rem;
                &:focus {
                    outline-color: transparent;
                }
                &::placeholder {
                    padding-left: 0;
                    font-size: 2.625rem;
                    color: #5f5f5f;
                    font-weight: 500;
                }
            }
            .subscribe {
                text-transform: capitalize;
                font-size: 1.562rem;
                font-weight: 600;
                font-family: 'CircularXXWeb-Book';
                color: #000;
            }
        }

        .email-line {
            background-color: $grayPrimary;
            margin-top: 3px;
        }
    }
    .section-seven {
        padding: 0 3.062rem;
        margin-bottom: 9.375rem;
        .line {
            background-color: $grayPrimary;
            margin-bottom: 2.406rem;
        }
        .people-saying {
            font-size: 2.625rem;
            font-weight: 500;
            color: #000000;
            font-family: 'CircularXXWeb-Book';
        }
        .border-card-container {
            padding-left: 1rem;
            border-left: 1px solid $grayPrimary;
            .heading {
                font-weight: 500;
                font-size: 2.625rem;
                line-height: 2.625rem;
                margin-bottom: 1.2rem;
                font-family: 'CircularXXWeb-Book';
            }
            .title {
                margin-top: 2rem;
                font-size: 1.562rem;
                line-height: 1.562rem;
                font-weight: 600;
                font-family: 'CircularXXWeb-Book';
            }
            .subtitle {
                font-size: 1.562rem;
                line-height: 1.862rem;
                font-weight: 100;
                color: $headingPrimary;
                font-family: 'CircularXXWeb-Book';
            }
        }
        .break-section {
            margin-bottom: 8.937rem;
            width: 100%;
        }
        .pen-pad-girl {
            width: 100%;
            padding-right: 10.437rem;
        }
        .text-section-container {
            .title {
                font-size: 2.625rem;
                line-height: 2.625rem;
                font-family: 'CircularXXWeb-Book';
                color: #000;
                margin-bottom: 1rem;
                margin-right: 7.312rem;
            }
            .subtitle {
                font-size: 1.937rem;
                font-weight: 500;
                margin-bottom: 2.625rem;
                font-family: 'CircularXXWeb-Book';
                color: #000000;
            }
            .apple-icon {
                color: #5c5c5c;
                font-size: 1.437rem;
                margin-right: 0.5rem;
                font-family: 'CircularXXWeb-Book';
            }
            .google-icon {
                width: 1rem;
            }
        }
    }

    @keyframes slideDown {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(1rem);
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-1rem);
        }
    }
}
