.home-wrapper {
    transition: all 0.5s ease;
    position: relative;
    .holding-container {
        position: relative;
        height: 100vh;
        display: flex;
        margin-bottom: 9.375rem;
        .ga-text-container {
            position: absolute;
            bottom: -2rem;
            @include flex(center, space-between, row);
            display: none;
            width: 31rem;
            left: 2rem;
            bottom: -4rem;
            .title {
                font-family: 'CircularXXMonoWeb-Regular';
                font-size: 1.2rem;
                font-weight: 600;
                @include makeFontSmoth(1px, $black);
            }
            .icon {
                width: 1.349rem;
                height: 1.6rem;
            }
            .google-icon {
                width: 1.4rem;
                margin-top: 0.1rem;
            }
        }
        .default-clip {
            clip-path: polygon(30% 10%, 70% 30%, 62% 90%, 21% 70%);
        }
        .full-clip {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .rotating-box {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $girlSketting;
            background-size: cover;
            background-repeat: no-repeat;
            animation: rotate 1s;
            animation-delay: 1.5s;
            @include flex(center, center, row);
            .slogan {
                font-weight: 900;
                width: 40rem;
                transition: all 0.5s;
                letter-spacing: 1rem;
                font-family: 'CircularXXWeb-Book';
                opacity: 0;
                color: $white;
                transition: all 0.1s;
                transform: translateY(-3rem);
                animation: fadein 1s;
                animation-delay: 1.5s;
            }
            @keyframes fadein {
                0% {
                    opacity: 0;
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-3rem);
                    opacity: 1;
                }
            }
            .launching-soon-container {
                position: absolute;
                bottom: 11.125rem;
                left: 3.062rem;
                margin-top: 1rem;
                transition: all 0.8s;
                animation: slideDown 0.4s;
                font-family: 'CircularXXWeb-Book';
                .title {
                    @include makeFontSmoth(0.186rem, $white);
                    font-size: 1.562rem;
                    transition: all 0.5s;
                    margin-bottom: 1rem;
                    font-family: 'CircularXXWeb-Book';
                }
                .for {
                    font-size: 5rem;
                    transition: all 0.5s;
                    font-weight: 500;
                    @include makeFontSmoth(0.186rem, $white);
                    line-height: 5rem;
                    font-family: inherit;
                    transition: all 0.8s;
                }
            }
            .bottom-right-container {
                position: absolute;
                bottom: 1.937rem;
                right: 3.062rem;
                @include flex(center, center, row);
                margin-top: -1rem;
                transition: all 0.3s;
                animation: slideUp 0.4s linear;

                .title {
                    text-shadow: 0 0 0.024rem $white;
                    color: transparent;
                    font-size: 0.9rem;
                    transition: all 0.5s;
                    font-weight: 100;
                    font-family: 'CircularXXMonoWeb-Regular';
                    transition: all 0.8s;
                }
                .apple-icon {
                    margin: 0 0.5rem;
                    font-size: 1rem;
                    transition: all 0.5s;
                    color: $white;
                }
                .google-icon {
                    width: 0.7rem;
                    margin-top: 0.08rem;
                }
            }
            .scroll__container {
                @include flex(center, space-between, row);
                position: absolute;
                cursor: pointer;
                padding: 1.125rem 3.062rem;
                top: 1rem;
                left: 0;
                width: 12.15rem;
                transform: translateY(0);
                margin-top: -1rem;
                transition: all 0.3s;
                animation: slideDown 0.4s linear;
                .text {
                    font-size: 1.562rem;
                    transition: all 0.5s;
                    font-family: 'CircularXXWeb-Book';
                    @include makeFontSmoth(0.156rem, $white);
                }
                .icon {
                    font-size: 1.737rem;
                    transition: all 0.5s;
                    color: $white;
                    opacity: 0.8;
                }
            }
        }
        @keyframes rotate {
            0% {
                clip-path: polygon(30% 10%, 70% 30%, 62% 90%, 21% 70%);
            }
            100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        .slogan.show.hide {
            opacity: 0;
            transition: all 0.5s;
            animation: fadeOutSlideDown 0.5s;
            transform: translateY(0);
        }
        @keyframes fadeOutSlideDown {
            0% {
                opacity: 1;
                transform: translateY(-3rem);
            }
            100% {
                opacity: 0;
                transform: translateY(0);
            }
        }
        .slogan.show {
            opacity: 1;
        }
    }
    .section-one {
        padding: 0 3.062rem;
        transition: all 0.8s;
        .img-container {
            margin-right: 8.1rem;
            .spect-boy {
                width: 100%;
                object-fit: cover;
                transition: all 0.8s;
            }
        }
        .section-one-right-part {
            padding-left: 2rem;
            transition: all 0.8s;

            .title {
                max-width: 51.187rem;
                font-size: 2.625rem;
                @include makeFontSmoth(0.147rem, #1c1c1c);
                transition: all 0.5s;
                line-height: 2.625rem;
                margin-bottom: 10rem;
                margin-right: 2rem;
                font-family: 'CircularXXWeb-Book';
            }
            .sppon-girl {
                margin-top: 7rem;
                width: 100%;
            }
        }
        .workable-solution {
            margin-top: 10rem;
            font-size: 5rem;
            transition: all 0.5s;
            line-height: 5rem;
            margin-bottom: 9.937rem;
            @include makeFontSmoth(0.147rem, #1c1c1c);
            font-family: 'CircularXXWeb-Book';
        }
    }
    .section-two {
        position: relative;
        margin-bottom: 8.75rem;
        display: flex;
        .opacity-bg {
            width: 100%;
            // align-self: stretch;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .ear-ring-girl-mobile {
            display: none;
            align-self: center;
        }
        .ear-ring-girl {
            width: 100%;
            height: auto;
        }
        .img-overlay-container {
            position: absolute;
            bottom: 11.187rem;
            right: 10.25rem;
            left: 50%;
            max-width: 49.062rem;
            .title {
                @include makeFontSmoth(0.156rem, $white);
                font-size: 1.562rem;
                transition: all 0.5s;
                font-family: 'CircularXXWeb-Book';
            }
            .msg {
                font-size: 5rem;
                transition: all 0.5s;
                @include makeFontSmoth(0.199rem, $white);
                font-family: 'CircularXXWeb-Book';
                line-height: 5rem;
            }
        }
    }
    .section-three {
        margin-bottom: 8.75rem;
        padding: 0 3rem;
        .left-part {
            @include flex(center, center, row);
            img {
                transition: all 0.5s;
            }
        }
        .right-part {
            @include flex(center, center, column);
            .title {
                font-size: 2.625rem;
                transition: all 0.5s;
                line-height: 2.725rem;
                @include makeFontSmoth(0.147rem, #1c1c1c);
                font-family: 'CircularXXWeb-Book';
                margin-right: 3.25rem;
                max-width: 52.187rem;
            }
        }
    }
    .smile__girl__boy {
        .section-four {
            .section-four-right-part-container {
                .title {
                    margin-right: 3.25rem;
                }
            }
        }
    }
    .section-four {
        padding: 0 3.062rem;
        margin-bottom: 6rem;
        .short-hair-girl-container {
            margin-right: 8rem;
            .short-hair-girl {
                width: 100%;
            }
        }
        .section-four-right-part-container {
            .title {
                font-weight: 500;
                font-size: 2.625rem;
                transition: all 0.5s;
                line-height: 2.625rem;
                margin-bottom: 20.437rem;
                @include makeFontSmoth(0.147rem, #1c1c1c);
                font-family: 'CircularXXWeb-Book';
                margin-right: 4.25rem;
                max-width: 52.187rem;
            }
            .real-time-intraction {
                margin-top: -19.537rem;
                margin-bottom: 2.687rem;
                font-size: 1.562rem;
                @include makeFontSmoth(0.147rem, #1c1c1c);
                transition: all 0.5s;
                font-family: 'CircularXXWeb-Book';
            }
            .board-icon {
                width: 1.875rem;
                margin-bottom: 10.875rem;
                transition: all 0.5s;
            }
            .lappy-girl {
                width: 100%;
                transition: all 0.5s;
            }
        }
    }
    .section-five {
        padding: 2rem 3.062rem;
        transition: all 0.4s;
        z-index: 35;
        background: #fff;
        .full__height {
            height: 100vh;
            overflow: auto;
            @include disableScroll;
        }
        .learn-title {
            margin-top: 2rem;
            font-size: 2.625rem;
            transition: all 0.5s;
            line-height: 2.625rem;
            @include makeFontSmoth(0.147rem, $black);
            font-family: 'CircularXXWeb-Book';
            margin-bottom: 2.437rem;
        }
        .subject {
            width: 1.5rem;
        }
        .subject-list-container {
            margin-top: 2rem;
            ul {
                list-style: none;
                li {
                    font-weight: 500;
                    font-size: 5rem;
                    transition: all 0.5s;
                    line-height: 5rem;
                    font-family: 'CircularXXWeb-Book';
                    transition: all 0.5s;
                    @include makeFontSmoth(0.147rem, #1c1c1c);
                }
            }
            .scrolling__text {
                display: none;
            }
        }
    }
    .section-six {
        padding: 0 3.062rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        background-color: $white;
        .title {
            font-size: 1.562rem;
            transition: all 0.5s;
            font-family: 'CircularXXWeb-Book';
            @include makeFontSmoth(0.147rem, #1c1c1c);
        }
        .msg {
            font-size: 2.625rem;
            transition: all 0.5s;
            font-family: 'CircularXXWeb-Book';
            @include makeFontSmoth(0.147rem, #1c1c1c);
        }
        .email-address {
            font-size: 1.562rem;
            transition: all 0.5s;
            font-family: 'CircularXXWeb-Book';
            @include makeFontSmoth(0.147rem, #1c1c1c);
        }
        .email-container {
            @include flex(center, space-between, row);
            .email {
                border: none;
                width: 80%;
                font-size: 2.625rem;
                @include makeFontSmoth(0.197rem, $black);
                font-weight: 500;
                font-family: 'CircularXXWeb-Book';
                height: 2.4rem;
                &:focus {
                    outline-color: transparent;
                }
                &::placeholder {
                    padding-left: 0;
                    font-size: 2.625rem;
                    @include makeFontSmoth(0.147rem, #8b8b8b);
                    font-weight: 500;
                }
            }
            .subscribe {
                cursor: pointer;
                transition: all 0.5s;
                text-transform: capitalize;
                font-size: 1.625rem;
                transition: all 0.5s;
                font-family: 'CircularXXWeb-Book';
                @include makeFontSmoth(0.147rem, #1c1c1c);
                align-self: flex-end;
                line-height: 1.8rem;
                &:hover {
                    color: $primary;
                }
            }
        }

        .email-line {
            background-color: $grayPrimary;
            margin-top: 3px;
        }
    }
    .section-seven {
        padding: 0 3.062rem;
        margin-bottom: 9.375rem;
        .line {
            background-color: $grayPrimary;
            margin-bottom: 2.406rem;
        }
        .people-saying {
            font-size: 2.625rem;
            transition: all 0.5s;
            font-weight: 500;
            color: #000000;
            font-family: 'CircularXXWeb-Book';
        }
        .border-card-container {
            padding-left: 1rem;
            border-left: 1px solid $grayPrimary;
            .heading {
                font-weight: 500;
                font-size: 2.625rem;
                @include makeFontSmoth(0.147rem, #1c1c1c);
                transition: all 0.5s;
                line-height: 2.625rem;
                margin-bottom: 1.2rem;
                font-family: 'CircularXXWeb-Book';
            }
            .title {
                margin-top: 2rem;
                font-size: 1.562rem;
                transition: all 0.5s;
                line-height: 1.62rem;
                @include makeFontSmoth(0.147rem, #1c1c1c);
                font-family: 'CircularXXWeb-Book';
            }
            .subtitle {
                font-size: 1.562rem;
                transition: all 0.5s;
                line-height: 1.862rem;
                font-weight: 100;
                @include makeFontSmoth(0.147rem, $headingPrimary);
                font-family: 'CircularXXWeb-Book';
            }
        }
        .break-section {
            margin-bottom: 8.937rem;
            width: 100%;
        }
        .pen-pad-girl {
            width: 100%;
            padding-right: 10.437rem;
        }
        .text-section-container {
            .title {
                font-size: 2.625rem;
                transition: all 0.5s;
                line-height: 2.625rem;
                font-family: 'CircularXXWeb-Book';
                @include makeFontSmoth(0.147rem, #1c1c1c);
                margin-bottom: 1rem;
                margin-right: 4.312rem;
                max-width: 52.187rem;
            }
            .subtitle {
                font-size: 1.937rem;
                transition: all 0.5s;
                font-weight: 500;
                margin-bottom: 2.625rem;
                font-family: 'CircularXXWeb-Book';
                @include makeFontSmoth(0.147rem, #1c1c1c);
            }
            .icon__container {
                @include flex(center, space-between, row);
                width: 2.8rem;
                .apple-icon {
                    color: #5c5c5c;
                    font-size: 1.437rem;
                    transition: all 0.5s;
                    align-self: flex-end;

                    font-family: 'CircularXXWeb-Book';
                }
                .google-icon {
                    width: 1.2rem;
                    margin-top: 0.2rem;
                    // align-self: flex-end;
                }
            }
        }
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-3rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            opacity: 0;
            bottom: -1.937rem;
        }
        100% {
            opacity: 1;
            bottom: 1.937rem;
        }
    }
}

// responsive
@media screen and (max-width: 415px) {
    html {
        font-size: 9px;
    }
    .home-wrapper {
        .holding-container {
            .ga-text-container {
                max-width: 25rem;
                .title {
                    font-size: 1rem;
                }
                .google-icon{
                    width: 1.2rem;
                }
            }
        }
        .section-two {
            .img-overlay-container {
                max-width: 29rem!important;
                .msg {
                    font-size: 3rem !important;
                    line-height: 3rem !important;
                }
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .home-wrapper {
        overflow-x: hidden;
        .make__col__reverse {
            flex-direction: column-reverse;
        }
        .section-one {
            padding: 0 2.1rem;
            .section-one-right-part {
                padding-left: 0;
                .title {
                    margin-right: 0;
                    font-size: 2.525rem!important;
                    line-height: 2.525rem!important;
                }
                .sppon-girl {
                    display: none;
                }
            }
        }
        .section-two {
            padding: 0;
            .ear-ring-girl {
                display: none;
            }
            .ear-ring-girl-mobile {
                display: block !important;
                width: 100%;
                height: auto;
            }
            .img-overlay-container {
                right: 1rem !important;
                left: 2.1rem !important;
            }
        }
        .holding-container {
            position: relative;
            .rotating-box {
                background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $girlSkettingMobile !important;
                .slogan {
                    width: 23rem;
                }
                .bottom-right-container {
                    display: none;
                }
            }

            .ga-text-container {
                display: flex !important;
            }
        }
        .section-three {
            padding: 0 2.1rem;
        }
        .section-four{
            padding: 0 2.1rem;
            .short-hair-girl-container{
                .short-hair-girl{
                    display: block;
                }
            }
            .section-four-right-part-container{
                .lappy-girl{
                    display: none;
                }
            }
        }
        .smile__girl__boy {
            .section-four {
                padding: 0 2.1rem;
                .section-four-right-part-container {
                    .title {
                        margin-right: 0;
                        max-width: none;
                        font-size: 2.4rem;
                    }
                    .real-time-intraction {
                        display: none;
                    }
                    .board-icon {
                        display: none;
                    }
                    .lappy-girl {
                        display: block;
                    }
                }
                .short-hair-girl-container{
                    .short-hair-girl{
                        display: none;
                    }
                }
            }
        }
        .section-five {
            padding: 0 2.1rem;
            .subject-list-container {
                position: relative;
                ul {
                    display: none;
                }
                .scrolling__text {
                    display: block;
                    position: absolute;
                    width: 291rem;
                    font-size: 4rem;
                    animation: scrollFromRightToLeft linear 15s infinite;
                }
                @keyframes scrollFromRightToLeft {
                    0% {
                        left: 40rem;
                    }
                    100% {
                        left: -295rem;
                    }
                }
            }
        }
        .section-six {
            margin-top: 11rem;
            padding: 0 2.1rem;
            .email-container {
                .email {
                    width: 65%;
                }
            }
        }
        .section-seven {
            padding: 0 2.1rem;
            .text-section-container{
                .title{
                    font-size: 2.5rem!important;
                }
            }
        }
        .footer {
            padding: 0 2.1rem;
            .email-container {
                width: 100%;
            }
        }
    }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
    .home-wrapper {
        .make__col__reverse {
            flex-direction: column-reverse;
        }
        .section-one {
            .section-one-right-part {
                padding-left: 0;
                margin-top: 1rem;
                .title {
                    max-width: none !important;
                    margin-right: 0;
                }
                .sppon-girl {
                    display: none;
                }
            }
            .workable-solution {
                margin-top: 10rem;
            }
        }
        .section-two {
            .ear-ring-girl {
                display: none;
            }
            .ear-ring-girl-mobile {
                display: block;
                width: 100%;
                height: auto;
            }
            .img-overlay-container {
                max-width: 29.062rem !important;
                .msg {
                    font-size: 3rem !important;
                    line-height: 3rem !important;
                }
            }
        }
        .section-three {
            .right-part {
                margin-top: 0;
                .title {
                    max-width: none !important;
                }
            }
        }
        .section-four {
            .section-four-right-part-container {
                margin-top: 0;
                .lappy-girl{
                    display: none;
                }
                .title {
                    max-width: none !important;
                }
            }
        }
        .section-seven {
            .text-section-container {
                .title {
                    max-width: none !important;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .home-wrapper {
        .holding-container {
            position: relative;
            .ga-text-container {
                display: none;
            }
            .rotating-box {
                // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $girlSkettingMobile !important;
                .launching-soon-container {
                    bottom: 7rem;
                    .for {
                        font-size: 4rem;
                        transition: all 0.5s;
                        line-height: 4rem;
                    }
                }
            }
        }
        .section-one {
            .img-container {
                margin: 0;
                .spect-boy {
                    width: 100%;
                }
            }
            .section-one-right-part {
                .title {
                    font-size: 2.125rem;
                    line-height: 2.125rem;
                    margin-right: 0;
                }
            }
            .workable-solution {
                font-size: 4rem;
                transition: all 0.5s;
                line-height: 4rem;
            }
        }
        .section-two {
            .ear-ring-girl {
                display: block;
            }

            .ear-ring-girl-mobile {
                display: none;
                width: 100%;
            }
            .img-overlay-container {
                max-width: 39.062rem;
                bottom: 6.9rem;
                left: 49%;
                right: 0;
                .msg {
                    font-size: 4rem;
                    transition: all 0.5s;
                    line-height: 4rem;
                }
            }
        }
        .section-three {
            margin-bottom: 6.85rem;
            .left-part {
                img {
                    width: 25.3rem;
                }
            }
            .right-part {
                .title {
                    margin: 0;
                    font-size: 2.125rem;
                    line-height: 2.125rem;
                    transition: all 0.5s;
                    margin-bottom: 7.9rem;
                }
            }
        }
        .smile__girl__boy {
            .section-four {
                .section-four-right-part-container {
                    .title {
                        margin-right: 0;
                    }
                }
            }
        }
        .section-four {
            margin-bottom: 5.35rem;
            .section-four-right-part-container {
                .title {
                    font-size: 2.125rem;
                    line-height: 2.125rem;
                    transition: all 0.5s;
                    margin-bottom: 7.35rem;
                    margin-right: 0;
                    max-width: 42.187rem;
                }

                .real-time-intraction {
                    margin-top: -5.537rem;
                }
                .board-icon {
                    width: 3rem;
                }
            }
            .short-hair-girl-container {
                margin-right: 0;
                .short-hair-girl {
                    width: 100%;
                }
            }
        }
        .section-five {
            padding-top: 0;
            padding-bottom: 0;
            .horizontal__line {
                display: none;
            }
            .subject {
                width: 3rem;
            }
        }
        .section-six {
            .msg {
                font-size: 2.5rem;
                transition: all 0.5s;
                line-height: 2.5rem;
                margin-bottom: 2rem;
            }
            .email-address {
                line-height: 2.4rem;
            }
            .email-container {
                .email {
                    font-size: 2.5rem;
                    line-height: 1.8rem;
                    color: #8b8b8b;
                }
                .subscribe {
                    font-size: 1.8rem;
                    transition: all 0.5s;
                    line-height: 1.8rem;
                }
            }
        }
        .section-seven {
            margin-bottom: 8rem;
            .people-saying {
                margin-bottom: 4.3rem;
                font-size: 2.5rem;
                transition: all 0.5s;
            }

            .border-card-container {
                margin-bottom: 3rem;
                border-left: 2px solid #cfcfcf70;
                .heading {
                    font-size: 2.5rem;
                    transition: all 0.5s;
                }

                .title {
                    font-size: 1.5rem;
                    transition: all 0.5s;
                    margin-bottom: 0.3rem;
                }
            }
            .pen-pad-girl {
                padding-right: 0;
                margin-bottom: 7.284rem;
            }
            .break-section {
                margin-bottom: 3.937rem;
            }
            .text-section-container {
                .title {
                    margin-right: 0;
                    font-size: 2.125rem;
                    line-height: 2.125rem;
                    transition: all 0.5s;
                }
                .subtitle {
                    font-size: 1.6rem;
                }

                .icon__container {
                    .apple-icon {
                        font-size: 1.938rem;
                        transition: all 0.5s;
                    }

                    .google-icon {
                        width: 1.57rem;
                    }
                }
            }
        }
        .footer {
            padding: 0 2.1rem;
            .email-container {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .home-wrapper {
        .section-four{
            .section-four-right-part-container{
                .title{
                    margin-right: 3.25rem;
                }
            }
        }
        .section-seven {
            .border-card-container{
                .heading {
                    font-size: 2.325rem;
                }
            } 
        }
    }
}
