@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes rotateOn {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(90deg);
  }
}

@keyframes rotateOff {
  from{
    transform: rotate(90deg);
  }
  to{
    transform: rotate(0deg);
  }
}