.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $primary !important;
}
.custom-input {
   margin-bottom: 1rem;
   .MuiOutlinedInput-input {
    padding: 12.5px 14px !important;
}
    .MuiInputLabel-outlined {
        z-index: 1;
        transform: translate(14px, 15px) scale(1);
        pointer-events: none;
        font-size: 14px;
        .MuiInputBase-formControl {
            &:hover {
                border-color: red;
            }
        }
    }
}