.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $primary !important;
}
.custom-input {
    margin-bottom: 1rem;
    .MuiOutlinedInput-input {
        padding: 12.5px 14px !important;
    }
    .MuiInputLabel-outlined {
        z-index: 1;
        transform: translate(14px, 15px) scale(1);
        pointer-events: none;
        font-size: 14px;
        .MuiInputBase-formControl {
            &:hover {
                border-color: red;
            }
        }
    }
}
.custom-select-input {
    .MuiInputBase-root {
        height: 40px;
    }
    .MuiInputLabel-outlined {
        z-index: 1;
        transform: translate(14px, 14px) scale(1);
        pointer-events: none;
        font-size: 14px;
        font-size: 0.7rem;
    }
    .MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-filled {
        font-size: 0.9rem;
    }
    .MuiInputBase-input.MuiOutlinedInput-input {
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
    }
}

.MuiTextField-root.line-input {
    margin-bottom: 1rem;
    .MuiOutlinedInput-input {
        padding: 12.5px 14px !important;
    }
    .MuiInputLabel-outlined {
        z-index: 1;
        transform: translate(14px, 15px) scale(1);
        pointer-events: none;
        font-size: 14px;
        .MuiInputBase-formControl {
            &:hover {
                border-color: red;
            }
        }
    }
    .MuiInputLabel-shrink.MuiInputLabel-root {
        color: #000;
        font-size: 1.2rem;
        font-family: 'CircularXXSub-BookSubset';
    }
    .MuiInputBase-input.MuiInput-input {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.3rem;
        color: $black;
    }
    .MuiInput-underline:before {
        border-bottom: 1px solid $black;
    }
    .MuiInputLabel-formControl {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.3rem;
        color: $black;
    }
}

.custom-adornment-input {
    .MuiFormLabel-root.Mui-focused {
        color: #000;
        font-size: 1.2rem;
        font-family: 'CircularXXSub-BookSubset';
    }
    .MuiInputLabel-outlined {
        transform: translate(0, 24px) scale(1);
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
        transform: translate(0, -6px) scale(0.75);
    }
    .MuiInputLabel-formControl {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.3rem;
        color: $gray;
    }
    .MuiInputBase-input.MuiInput-input {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.3rem;
        color: $gray;
    }
}

.custom-adornment-input2 {
    margin-bottom: 2.406rem!important;
    .MuiFormLabel-root.Mui-focused {
        color: #000;
        font-size: 1.562rem;
        font-family: 'CircularXXSub-BookSubset';
    }
    .MuiInputLabel-outlined {
        transform: translate(0, 24px) scale(1);
    }
    .MuiInputLabel-shrink {
        transform: translate(0, -6px) scale(1);
    }
    label + .MuiInput-formControl{
        margin-top: 0.7rem;
    }
    .MuiSelect-selectMenu{
        min-height: auto !important;
    }
    .MuiInputLabel-formControl {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.562rem;
        color: $black;
    }
    .MuiInputBase-input.MuiInput-input {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.562rem;
        color: $gray;
    }
}

.underline-date-input{
   .MuiOutlinedInput-notchedOutline {
        border: none;
        border-bottom: 1px solid $gray;
        border-radius: 0;
    }
    .MuiOutlinedInput-inputAdornedEnd {
        font-family: 'CircularXXSub-BookSubset';
        font-size: 1.3rem;
        color: $gray;
    }
}

.MuiTextField-root.line-input2 {
    margin-bottom: 2.406rem;
    .MuiOutlinedInput-input {
        padding: 12.5px 14px !important;
    }
    .MuiInputLabel-shrink {
        transform: translate(0, -5px) scale(1);
        transform-origin: top left;
    }
    .MuiInputLabel-shrink.MuiInputLabel-root {
        color: #000;
        font-size: 1.562rem;
        font-family: 'CircularXXWeb-Book';
    }
    .MuiInputBase-input.MuiInput-input {
        font-family: 'CircularXXWeb-Book';
        font-size: 1.562rem;
        color: $gray;
    }
    .MuiInput-underline:before {
        border-bottom: 1px solid $gray;
    }
    .MuiInputLabel-formControl {
        font-family: 'CircularXXWeb-Book';
        font-size: 1.562rem;
        color: $gray;
    }
}