@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import '../../Assets/Fonts/stylesheet.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; /*1rem = 16px*/
    body {
        font-family: 'CircularXXWeb-Book';
        background-color: $white;
        text-rendering: geometricPrecision;
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
    }
}
html,body{
    overflow-x: hidden;
}
#root{
    position: relative;
}

@media only screen and (min-width:320px) and (max-width: 425px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (min-width:426px)  and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}
@media only screen and (min-width:769px) and (max-width: 1024px) {
    html {
        font-size: 8.5px;
    }
}
@media only screen and (min-width:1025px) and (max-width: 1440px) {
    html {
        font-size: 11px;
    }
}
@media only screen and (min-width:1441px) and (max-width: 1920px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width:1921px) and (max-width: 3840px) {
    html {
        font-size: 18px;
    }
}
div.dot-pulse {
    padding: 1rem;
}
