$white: #fff;
$primary: #007AFF;
$lightPrimary: #64B6FF;
$lightGray: #e0e3e6;
$gray:#8B8B8B;
$grayPrimary: #cfcfcf;
$textPrimary: #54617A;
$headingPrimary: #ACAEAF;
$darkGray: #2E3039;
$black: #000;
$bodyColor: #F7F7F7;
$titleGray:#5F5F5F;
$borderColor:#00000029;
// images
$loginBgImg : url("https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596610832/gluschool/student_yqajv6.jpg");
$girlSketting: url("https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596608132/gluschool/girlScatter_rxende.jpg");
$girlSkettingMobile: url("https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596608142/gluschool/sketterMobile_zpf9zq.jpg");
$smileGirl: url("https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596608142/gluschool/smilegirl_ellmdm.jpg");
$student: url("https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596610832/gluschool/student_yqajv6.jpg");
