
.section-two .ear-ring-girl {
    object-position: 50% 15%;
}

.nav-icon-button {
    .icon-breadcrumb {
        color: white;
        font-size: 2.5rem;
        margin-top: -8px;
        margin-left: 37px;
        width: 30px;
    }
    .icon-search {
        color: white;
        font-size: 21.5rem;
        margin-top: -7px;
        width: 27px;
        height: 27px;
        margin-left: -4px;
    }
}
.menu__navigation__container {
    margin: 0px;
    padding: 0px;
    .navigation__overlap {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        width: 100%;
        ul {
            margin-top: 22px;
            display: flex;
            list-style-type: none;

            li {
                a {
                    color: white;
                    display: inline-block;
                    text-decoration: none;
                    button {
                        text-transform: capitalize;
                        font-family: 'CircularXXWeb-Book';
                        color: white;
                        font-weight: normal;
                    }
                    .link {
                        color: white;
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: normal;
                    }
                }
            }
        }
        .heading {
            font-family: 'CircularXXWeb-Book';
            font-size: 3rem;
            margin-right: 50px;
            color: white;
            margin-top: 11px;
        }
        .icon-button {
            .icon {
                // color: $white;//commented by Sani
                // font-size: 1.5rem;//commented by Sani
                color: white; //added by Sani
                font-size: 2.5rem;
            }
        }
    }
}
